@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap'); 
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading {
    font-size: 3rem;
    font-weight: 600;
    color: #880808;
}
.heading span{
    color: black;
}
form {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    height: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.title label{
    font-size: 1.2rem;
    width: 80%;
}
.title input{
    padding: 10px;
    width: 80%;
    border-radius: 5px;
}
.content{
    height: 55%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content label{
    width: 80%;
    font-size: 1.2rem;
}
.content textarea{
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    resize: none;
}
.submit{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.submit button{
    padding: 5px 10px;
    background-color: #880808;
    color: white;
    border: 1px #880808 solid;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}