@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.logo-brand {
    display: block;
    text-decoration: none;
    color: #880808;
    font-size: 2.6rem;
    font-weight: bold;
    cursor: pointer;
}
.logo-brand span {
    color:black;
}
.fixed-head {
    z-index: 100;
    width: 100%;
    height: 17vh;
    position: fixed;
    transition: 0.5s;
    backdrop-filter: blur(10px);
}
.header-1{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.nav-element{
    color: black;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}
.li-ele::after {
    content:'';
    width: 0;
    height: 3px;
    background: #880808;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
.li-ele:hover::after {
    width: 100%;
}
.li-ele-2::after {
    content:'';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
.li-ele-2:hover::after {
    width: 100%;
}
.body-conatiner{
    width: 100%;
    height: 75%;
    position: absolute;
    top: 17vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.content-profile{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.p1-profile{
    width: 43%;
    height: 100%;
    background-color: #880808;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
}
.head-p1{
    height: 30%;
    width: 80%;
    display: flex;
    align-items: center;
}
.head-p1-p1{
    color: #ddd;
    font-size: 2.4rem;
    height: 40%;
}
.details-p1{
    height: 50%;
    width: 80%;
    font-size: 1.4rem;
    color: #FAFFF5;
    font-weight: 500;
}
.details-p1 span{
    color: #FFFBF5;
    opacity: 0.8;
}
.editable{
    margin-bottom: 6px;
}
.edit select{
    width: 10rem;
    padding: 2px 0;
    text-align: center;
}
.edit-p1{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.edit-p1 button{
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 7px;
    border: none;
    transition: 0.3s;   
}
.edit-p1 button a{
    text-decoration: none;
    color: black;
}
.edit-p1 button:active{
    opacity: 0.7;
}
.p2-profile{
    width: 55%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
}
.head-p1-p2{
    color: #880808;
    font-size: 2.6rem;
    height: 40%;
}
.history-p2{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
}
.history-p2 iframe{
    height: 90%;
    width: 80%;
}
.p1-profile:hover,.p2-profile:hover{
    box-shadow: 0 7px 20px rgb(0 0 0 / 0.6);
}

/* iFrame Styles */
.content{
    width: 70%;
}
.history{
    margin: 10px 0;
    padding: 10px 5px;
    margin-left: 20px;
    border-radius: 20px;
    width: 80%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1.2px 3px rgb(0 0 0 / 0.3);
}
.date{
    width: 80%;
}
::-webkit-scrollbar{
    width: 7px;
    background-color: #eee;  
}
::-webkit-scrollbar-thumb{
    background-color: #bbb;
    border-radius: 50px;
}
.content p:nth-child(1){
    font-size: 1.2rem;
    color: #880808;
    font-weight: 500;
}
.content p:nth-child(2){
    font-size: 0.8rem;
}