<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="pictures/[removal.ai]_tmp-6413f9f76b9b7.png">
        <title>About us</title>
        <link rel="stylesheet" href="stylesheets/style-aboutus.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </head>
    <body>
        <div id="headerHome" class="header-1">
            <nav> 
                <a href="home" id="logoBrand" class="logo-brand">Lifeline<span>.</span></a>
                <ul>
                    <li><a id="navListElements" class="li-ele nav-element" href="services">Services</a></li>
                    <li><a id="navListElements" class="li-ele nav-element" href="#footer-home">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="body-about">
            <div class="header-body">About <span>Lifeline</span>.</div>
            <div class="pic-about">
                <img src="pictures/K7SdqfOAI9oicgCXzaEH8-transformed.jpg" alt="alt picture♥"/>
            </div>
            <div class="info-about">
                <b>Lifeline</b> is an all-in-one Medical platform for small businesses.We
                empower millions of customers around the world to
                help and maintain their health with our smart
                algo technology, health-life support, and
                inspiring content. Founded in 2023 and setup in IIITS
                with additional offices in chennai, pune and surat
                is <b>100%</b> founder-owned and highly profitable.
            </div>
        </div>
        <div class="body-about-2">
            <div class="info-about-2">
                <b>Our team of developers.</b><br><br>
                <ul>
                    <li>Srawan Meesala </li>
                    <li>Kovid MS </li>
                    <li>Charan Kumar M </li>
                    <li>Heshvitha M </li>
                    <li>Sampath Kumar T </li>
                </ul>
            </div>
            <div class="pic-about-2">
                <img src="pictures/[removal.ai]_tmp-6413fb55ce587.png" alt="alt"/>
            </div>
        </div>
        <div class="marketing-about">
            <div class="quote">
                Only a life lived in the service to others is <span>worth living.</span>
            </div>
        </div>
        <footer id="footer-home">
            <div class="logo-footer">
                Lifeline<span>.</span>
            </div>
            <div class="footer-part-2">
                <div class="services-footer">
                    <p class="footer-small-head">Our Services</p>
                    <ul>
                        <li><a href="login">Online Appointments</a></li>
                        <li><a href="login">Blood-bank and Organ-donations</a></li>
                        <li><a href="login">Diagnosis and Scans</a></li>
                        <li><a href="login">Research Blogs by Experts</a></li>
                    </ul>
                </div>
                <div class="socials-footer">
                    <p class="footer-small-head">Our Socials</p>
                    <div class="icons-social-footer">
                        <a><img src="/socials/face.png" alt=""></a>
                        <a><img src="/socials/in.png" alt=""></a>
                        <a><img src="/socials/twit.png" alt=""></a>
                        <a><img src="/socials/ig.jpg" alt=""></a>
                    </div>
                </div>
                <div class="reachus-footer">
                    <p class="footer-small-head">Reach Us</p>
                    <div class="reaches-footer">
                        <div class="types-reachus">
                            <a><span class="material-symbols-outlined">call</span><span>: +91 80990 49857</span></a>
                        </div>
                        <div class="types-reachus">
                            <a><span class="material-symbols-outlined">mail</span><span>: lifeline@google.com</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="queries-footer">
                <h3 class="queries-head-footer">
                    Any Queries?
                </h3>
                <form action="" class="form-queries-foot">
                    <div class="mail-query">
                        <label for="mailFooter">E-Mail ID</label>
                        <input required name="mailFooter" type="email" placeholder="Your E-Mail ID">
                    </div>
                    <div class="query">
                        <label for="queryFooter">How can we help you?</label>
                        <textarea required rows="10" name="queryFooter" type="text" placeholder="Your Query"></textarea>
                    </div>
                    <div class="submit-button">
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </footer>
        <script src="/javascript/home-page-patient.js"></script>
    </body>
</html>
