<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="pictures/[removal.ai]_tmp-6413f9f76b9b7.png">
    <title>Admin - Lifeline</title>
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body>
    <div class="containerr">
        <div class="header">
            <p>Lifeline<span>.</span> Admin<span>.</span></p>
        </div>
        <div class="ops">
            <div class="one">
                <div class="manage-hosp">
                    <a href="formAdmin-hosp">Manage Hospitals</a>
                </div>
                <div class="manage-doc">
                    <a href="formAdmin-doc">Manage Doctors</a>
                </div>
            </div>
            <div class="two">
                <div class="manage-user">
                    <a href="formAdmin-user">Manage Users</a></div>
                    <div class="view">
                        <a href="formAdmin-feedback">View FeedBack</a>
                    </div>
                </div>
                <a href="home" class="logout">Logout</a>
            </div>
        </div>
</body>
</html>