<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blogs - Lifeline.</title>
    <link rel="icon" type="image/x-icon" href="pictures/[removal.ai]_tmp-6413f9f76b9b7.png">
    <link rel="stylesheet" href="stylesheets/style-blogs.css">
</head>
<body>
    <div class="fixed-head" id="headerHome">
        <div class="header-1">
            <nav> 
                <a href="#" id="logoBrand" class="logo-brand">Lifeline<span>.</span></a>
                <ul>
                    <li><a id="navListElements" class="li-ele nav-element" href="home-page">Home</a></li>
                    <li><a id="navListElements" class="li-ele nav-element" href="services">Services</a></li>
                    <li><a id="navListElements" class="li-ele nav-element" href="aboutus">About Us</a></li>
                    <li><a id="navListElements" class="li-ele nav-element" href="profile">Your Profile</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="containerr">
        <div class="header"><p>Research Section - <span>Blogs</span></p></div>

        <!-- card-1 -->
        <% blogger.forEach((blog)=>{ %>
            <div class="blog">
                <div class="head">
                    <div class="pic"><img src="/pictures/6.png" alt="♥"></div>
                    <div class="main">
                        <p><%= blog.title %>&nbsp;&nbsp;<span>by Dr. <%= blog.doctname %></span></p>
                    </div>
                </div>
                <div class="content">
                    <div class="matter">
                        <%= blog.content %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <script src="/javascript/blogs-nav.js"></script>
</body>
</html>