<div class="blog">
    <div class="head">
        <div class="pic"><img src="/pictures/6.png" alt="♥"></div>
        <div class="main">
            <p>Emergency heart related solutions <span>by Dr. Ram Prasad</span></p>
        </div>
    </div>
    <div class="content">
        <div class="matter">
        A health emergency never knocks on the door. A medical trauma or critical situation may present in the most unexpected way. During that time, experienced clinical intervention can be inaccessible for the time being. It is, thus, important for ordinary citizens to learn how to manage emergency situations, for instance, heart attacks. Knowing first aid in a heart attack can be a life-saving measure.Heart attack, also known as myocardial infarction, is a condition that occurs when blood flow to the heart gets blocked. This blockage can be a result of long-term or gradual damage to the organ. Primarily, the accumulation of fat and cholesterol along with other substances may lead to the formation of plague in the arteries of the heart. The formation of a plague can rupture an artery and lead to the development of a blood clot. Furthermore, blood clotting and blockage can damage or destroy the heart muscles.A medical emergency can look like and create a lot of panic. Before you deliver first aid in heart attack, you should at least know that the emergency situation is most likely the said disease. Therefore, it is important to learn about the common signs and symptoms of heart attack, which include:
            <li>Sensation of pressure, tightness or squeezing in the chest or arms that radiates to the neck, jaw or back (for more than 15 minutes)</li>
            <li>Pain in the chest or arm that spreads to the neck, jaw or back</li>
            <li>Breathlessness</li>
            <li>Nausea, indigestion, heartburn or abdominal pain</li>
            <li>Cold sweating</li>
            <li>Tiredness</li>
            <li>Lightheadedness or dizziness</li>It is to be noted that not everybody have similar symptoms of heart attack. Additionally, the intensity of the above-given symptoms also vary. It is also possible that some one may have only one symptom.
        </div>
    </div>
</div>