<!DOCTYPE html>
<html lang="en">
<head>
    <title>Card open</title>
    <link rel="stylesheet" href="/stylesheets/card-open.css">
    <link rel="icon" type="image/x-icon" href="pictures/[removal.ai]_tmp-6413f9f76b9b7.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="container">
        <div class="content-container">
            <div class="header"><div class="head">
                Lifeline<span>.</span>
            </div></div>
                <div class="matter">
                    <div class="one">
                    <div class="details">
                    <p class="name-dr">Dr. Ram Prasad</p>
                    <p class="name-hosp">Ramprasad Clinic</p>
                    <p class="spec">Specialised in <span>Cardiology</span></p>
                    <p class="exp">Experience of <span>9</span> years</p>
                    <p class="city">Practicing in <span>Chennai</span></p>
                    <p class="ll-exp">Available Timings: <span>9AM - 4PM</span></p>
                    <p class="ll-exp">Doctor Fee:<span>&nbsp;200/-</span></p>
                    <div class="verified"><div class="verified-text">Verified&#9889;</div><div class="not-verified-text">Not Verified&#128025;</div></div>
                    </div>
                    <div class="picture">
                        <div class="pic"><img src="/pictures/6.png" alt="♥"></div>
                    </div>
                </div>
                <div class="two">
                    <div class="description"><span> About Hospital:</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, molestias adipisci iste quisquam vero reprehenderit illo iusto facere odio sapiente. Quo, iusto! Perspiciatis modi ipsum quos doloremque maxime ad aliquam!
                    Ipsa ducimus, itaque iusto consequatur facere aliquam quaerat nobis aut officiis rerum praesentium labore hic temporibus, voluptatum quibusdam nemo accusantium blanditiis. Esse iusto magnam animi ut a eligendi! Modi, veniam!</p>
                </div>
                <div class="pic-2"><img src="/pictures/7.png" alt=""></div>
                </div>
                    <div class="contact">
                        <div class="move">
                        <button class="number-panel">
                            <p><span class="material-symbols-outlined">call</span>8045978755</p></button>
                        <button class="appoint-panel"><a href="getAppointment">Book Appointment</a></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>