<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Lifeline</title>
    <link rel="stylesheet" href="/stylesheets/style-admin-form.css">
    <link rel="icon" type="image/x-icon" href="pictures/[removal.ai]_tmp-6413f9f76b9b7.png">

</head>
<body>
    <div class="containerr">
        <div class="header">
            <p>Lifeline<span>.</span> Admin<span>.</span></p>
        </div>
        <div class="forms-hosp">
            <form action="" class="ops">
                <div class="add-smng">
                    <div class="head-add">Add a Diagnosis Center</div>
                    <div class="content-add">
                        <div class="inp-add">
                            <div class="inp-1">
                                <label for="addDiag">Name of an Diagnosis Center to Add</label>
                                <input name="addDiag" id="addDiag" type="text"></input>
                            </div>
                            <div class="inp-2">
                                <label for="addDiagCity">City in which Diagnosis Center is Located</label>
                                <input name="addDiagCity" id="addDiagCity" type="text"></input>
                            </div>
                        </div>
                        <div class="approve-add">
                            <button class="approve-btn">Add</button>
                        </div>
                    </div>
                </div>
            </form>
            <form action="" class="ops">
                <div class="remove-smng">
                    <div class="head-add">Remove a Diagnosis Center</div>
                    <div class="content-add">
                        <div class="inp-add">
                            <label for="remDiag">Choose a diagnosis center to remove.</label>
                            <select name="remDiag" id="remDiag">
                                <option value="RamprasadClinic">ramprasad_clinic</option>
                                <option value="RamprasadClinic">ramprasad_clinic</option>
                                <option value="RamprasadClinic">ramprasad_clinic</option>
                                <option value="RamprasadClinic">ramprasad_clinic</option>
                                <option value="RamprasadClinic">ramprasad_clinic</option>
                            </select>
                        </div>
                        <div class="approve-add">
                            <button class="approve-btn">Remove</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>