<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Lifeline</title>
    <link rel="stylesheet" href="/stylesheets/style-admin-form.css">
    <link rel="icon" type="image/x-icon" href="pictures/[removal.ai]_tmp-6413f9f76b9b7.png">

</head>
<body>
    <div class="containerr">
        <div class="header">
            <p>Lifeline<span>.</span> Admin<span>.</span></p>
        </div>
        <div class="forms-hosp">
            <form action="/removeUser" method="post" class="ops">
                <div class="remove-smng">
                    <div class="head-add">Remove a User</div>
                    <div class="content-add">
                        <div class="inp-add">
                            <label for="remUser">Choose a user username to remove.</label>
                            <input name="remUser" id="select" required>
                                <!-- <option value="Ramprasad">ramprasad</option>
                                <option value="Ramprasad">ramprasad</option>
                                <option value="Ramprasad">ramprasad</option>
                                <option value="Ramprasad">ramprasad</option> -->
                        </div>
                        <div class="approve-add">
                            <button class="approve-btn">Remove</button>
                        </div>
                    </div>
                </div>
            </form>

            <form action="/viewUser" method="post">
                <div class="remove-smng">
                    <div class="head-add"> View Users</div>
                    <div class="content-add">
                        <div class="inp-add">
                <div class="approve-add">
                    <label for="viewUser">View User Details</label>
                    <input class="approve-btn" name="viewUser" type="submit" value="View">
                </div>
            </form>
        </div>
    </div>
    <script>
        // var select = document.getElementById("select");

        // userInfo.forEach(user)=>
        // {
        //     var option = document.createElement("OPTION"),
        //        txt=document.createTextNode(user[i].username);
        //     option.appendChild(txt);
        //     select.insertBefore(option,select.lastChild);
        // }
    </script>
</body>
</html>