@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

.logo-brand {
    display: block;
    text-decoration: none;
    color: #880808;
    font-size: 2.6rem;
    font-weight: bold;
    cursor: pointer;
}
.logo-brand span {
    color:black;
}

.fixed-head {
    z-index: 100;
    width: 100%;
    height: 19vh;
    position: fixed;
    transition: 0.5s;
    backdrop-filter: blur(10px);
}

.containerr {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 0;
}
.header-1{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.nav-element{
    color: black;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}
.li-ele::after {
    content:'';
    width: 0;
    height: 3px;
    background: #880808;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
.li-ele:hover::after {
    width: 100%;
}
.li-ele-2::after {
    content:'';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
.li-ele-2:hover::after {
    width: 100%;
}
.container-1 {
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: column;
    right: 0;
    left: 0;
}

.searchbar-div {
    max-width: 35rem;
    max-height: 2rem;
}
.searchbar-div form {
    display: flex;
    width: 100%;
}
.searchbar {
    text-align: left;
    max-width: 40rem;
}
.searchbar-search {
    position: relative;
    cursor: pointer;
    padding: 0.4rem;
    border: 0.1rem;
    transition: 0.3s;
}
.searchbar-search:hover {
    background-color: #eee;
    border-radius: 5px;
    color: black;
}

.material-symbols-outlined {
  position: absolute;
}
.header-home-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panels{
    position: absolute;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 40vh;
}
.panel-1 {
    width: 65vw;
    height:20rem;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.panel-1:hover{
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.6);
}
.panel-1 img{
    margin-bottom: 1%;
}
.img-in-panel {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px rgba(0, 0, 0, 0.1) solid;
}
.body-panel{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
}
.head-body{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.name-dr{
    font-size: 1.3rem;
    margin: 0;
    color: #880808;
    font-weight: 500;
}
.name-hosp{
    font-size: 0.8rem;
}
.bio-body{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.bio-body p{
    margin: 0;
}
.contact-body{
    height: 25%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.contact-body button{
    height: 43%;
    font-size: 0.9rem;
    transition: 0.3s;
}
.number-panel p span{
    display: block;
    font-size: 1.4rem;
}
.number-panel p{
    margin: 0;
}
.number-panel{
    width: 8rem;
    text-align: end;
    padding: 5px;
    background-color: #088812;
    color: #fff;
    border-radius: 7px;
    border: none;
}
.appoint-panel{
    width: 10rem;
    padding: 5px;
    background-color: #880808;
    color: #fff;
    border-radius: 7px;
    border: none;
}
.contact-body button:hover{
    opacity: 0.7;
}
.content-mid{
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
}
.content-searched{
    width: 70%;
}
.searched-for{
    margin: 0;
    font-size: 1.3rem;
}
.searched-for span{
    font-weight: 500;
}
.filters{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.submit-sort button{
    padding: 4px 7px;
    background-color: #880808;
    color: #ddd;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
    font-weight: 500;
}
.submit-sort button:active{
    background-color: #fff;
    color: #880808; 
}